@import "./base";
@import "./gilroy-font/gilroy.css";
@import "~remixicon/fonts/remixicon.css";

body {
  background-color: #f9fafb;
  font-size: 16px;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot")
      format("embedded-opentype"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.sidebar--container {
  min-height: 100vh;
  border-right: 1px solid #e4e7f4;
  color: #44596b;
  height: 100vh;
  display: flex;
  overflow: auto;
  background: #fff;
  flex-direction: column;

  position: fixed;
  width: 25%;
}

.sidebar--backbtn {
  padding: 22px 4rem;
  font-size: 14px;
  border-bottom: 1px solid #e4e6f4;
  display: flex;
  align-items: center;
  color: #9da4c8;
  text-decoration: none;
  transition: all 0.5s ease;
  i {
    margin-right: 10px;
  }
  &:hover {
    background: #545f9e;
    color: #fff;
    font-weight: 500;
  }
}

.sidebar--menu {
  padding: 1rem 4rem;
  flex: 1;
  a {
    text-decoration: none;
    color: #3c4470;
    font-weight: 500;
    display: flex;
  }
  i {
    margin-right: 10px;
    font-size: 20px;
    color: #888da6;
  }
  i:last-child {
    transform: scale(0.9);
    opacity: 0.5;
  }
  span {
    flex: 1;
  }
  ul {
    list-style: none;
  }
  ul li {
    margin-bottom: 7px;
  }
  > ul > li {
    margin-bottom: 30px;
  }
  ul li ul {
    margin: 0;
  }
  ul li a.active {
    color: #d5695f;
    i {
      color: #d5695f;
    }
  }
  .heading {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #8289b4;
    margin-bottom: 12px;
  }
}

.page-nav--container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
  &.isFirst {
    justify-content: flex-end;
  }
}

.page-nav__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  // flex: 1;
  &.first {
    justify-content: flex-start;
  }
  &.last {
    justify-content: flex-end;
  }
  i {
    color: #d5695f;
  }
}

.page-nav {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  span:first-child {
    font-size: 13px;
    color: #979aa0;
  }

  span:last-child {
    font-size: 17px;
    color: #535f9e;
    font-weight: 500;
  }

  &.next {
    text-align: right;
  }

  &.divert {
    text-align: center;
  }
}

.content-container {
  margin-top: 4rem;
  padding: 0 5rem;
}
.content-heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e8ef;
  padding-bottom: 27px;
  i {
    font-size: 21px;
    margin-right: 10px;
    color: #a2a9ca;
  }
}

h1.page-title {
  font-family: "Gilroy", "Hind Siliguri";
  color: #545f9e;
  letter-spacing: -2px;
  margin: 0;
}

.content {
  p a,
  li a,
  a.content-link {
    border-bottom: 1px solid #d5695f;
  }
  h3 {
    margin: 50px 0 10px;
    color: #2b5282;
    letter-spacing: -0.5px;
    font-family: "Manrope";
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.05rem;
    position: relative;
    &:before {
      content: "\EA6D";
      position: absolute;
      left: -18px;
      color: #d5695f;
      font-family: "remixicon" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
    }
  }
  h3 + p {
    margin-top: 11px;
  }
  h4 {
    margin: 15px 0;
    color: #232633;
    letter-spacing: -0.5px;
    font-weight: 500;
    border-left: 3px solid #e7ebef;
    padding-left: 10px;
    a {
      display: none;
    }
  }

  li {
    position: relative;
    padding-left: 27px;
    margin-bottom: 10px;
    &:before {
      content: "\EB81";
      font-size: 19px;
      margin-right: 5px;
      opacity: 0.4;
      font-family: "remixicon" !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      vertical-align: middle;
      position: absolute;
      left: 0;
    }
  }
  .anchor {
    opacity: 0.5;
    margin-right: 6px;
  }
}

.releases {
  h1,
  h2 {
    margin-bottom: 10px;
    font-size: 11px;
    color: #a2a9ca;
    display: flex;
    align-items: center;
    a {
      font-size: 18px;
      color: #d5695f;
      margin-right: 10px;
    }
  }
  h1 a {
    font-size: 3rem;
    letter-spacing: -4px;
    font-weight: 700;
  }

  h3 {
    flex-direction: inherit;
    font-size: 18px;
    margin-bottom: 19px;
  }

  .release {
    padding: 33px 0;
    position: relative;
    p {
      margin-bottom: 0;
    }
    strong {
      background: #dee2ec;
      color: #fff;
      font-size: 13px;
      padding: 4px 8px;
      border-radius: 4px;
      line-height: 1;
      margin-right: 10px;
      font-weight: 500;
      color: #82869c;
    }
    li {
      margin-bottom: 6px;
      padding-left: 0;
      &:before {
        content: none;
      }
    }
    li a {
      font-size: 12px;
      opacity: 0.8;
      margin-left: 10px;
    }
    &:after {
      content: "";
      border-bottom: 2px solid #e4e6f4;
      left: 0;
      width: 10%;
      height: 1px;
      position: absolute;
      bottom: 1px;
    }
  }
}
