.light-syntax {
  /* colorscheme: Base4Tone_Modern-C by Bram de Haan */
  /* author: Bram de Haan - https://github.com/atelierbram/Base4Tone-prism */
  /* https://github.com/atelierbram/Base4Tone-prism/blob/master/output/prism-b4t_modern-c-light.css */

  code[class*="language-"],
  pre[class*="language-"] {
    color: #0d0b07;
    background: none;
    font-family: "Jetbrains Mono", Consolas, Menlo, Monaco, "Andale Mono",
      "Ubuntu Mono", monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    font-size: 14px;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    background: #f3cd91;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    background: #f3cd91;
  }

  /* Code blocks */
  pre[class*="language-"] {
    // padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f5f7fa;
    border-radius: 10px;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.2rem 0.4rem;
    border-radius: 0.3em;
    white-space: normal;
    font-size: 13px;
    background: #e5e9ec;
    color: #000;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #b2b8bd;
  }

  .token.punctuation {
    color: #a39b8f;
  }

  .namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #007a6a;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #931f4c;
  }

  .token.id {
    color: #4a4c59;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #364ddd;
    background: #f5f7fa;
  }

  .token.number,
  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #955d04;
  }

  .token.function,
  .token.class-name {
    color: #007a6a;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #4b60e7;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }

  pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
  }

  .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    margin-top: 1em; /* Same as .prism’s padding-top */
    background: #9a918454;
    background: linear-gradient(to right, #9a918454 70%, #9a918400);
    pointer-events: none;

    line-height: inherit;
    white-space: pre;
  }

  .line-highlight:before,
  .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: 0.4em;
    left: 0.6em;
    min-width: 1em;
    padding: 0 0.5em;
    background-color: #9a918454;
    color: #d2cdc6;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: 0.3em;
    border-radius: 999px;
    box-shadow: 0 1px white;
  }

  .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: 0.4em;
  }

  .line-numbers .line-highlight:before,
  .line-numbers .line-highlight:after {
    content: none;
  }

  pre[class*="language-"].line-numbers {
    position: relative;
    padding: 20px 45px;
    counter-reset: linenumber;
  }

  pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
  }

  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: -3px;
    top: 20px;
    font-size: 100%;
    left: -3.8em;
    left: 15px !important;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #f5f7fa;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
  }

  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: rgba(0, 0, 0, 0.17);
    display: block;
    padding-right: 0.8em;
    text-align: right;
  }
}
