@import url(https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap);

@import "./dark-syntax";
@import "./light-syntax";

.preview {
  position: relative;
  > div {
    z-index: 99;
    position: relative;
  }
}

.preview:after {
  content: "";
  background-color: transparent;
  background: linear-gradient(90deg, #edf2f7, transparent),
    url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d6dadf' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='9' cy='9' r='4'/%3E%3Ccircle cx='39' cy='39' r='9'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  width: 160px;
  height: 74%;
  right: 0;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
  //   background-size: 15%;
  //   opacity: 0.1;
}

.preview:before {
  content: "";
  background-color: transparent;
  background: linear-gradient(90deg, transparent, #edf2f7),
    url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d6dadf' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='9' cy='9' r='4'/%3E%3Ccircle cx='39' cy='39' r='9'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  width: 160px;
  height: 74%;
  left: 0;
  top: 50%;
  transform: translateX(-100%) translateY(-50%);
}

.tile {
  border: 2px solid #afc3d8;
  background: #edf2f7;
  position: relative;
  z-index: 9999999;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  &:before {
    content: "";
    border: 2px solid #afc3d8;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: inline-block;
    transition: all 0.5s ease;
    // background: #dce0e4;
    transform: translateZ(-1px);
  }
  &:hover {
    background-color: #fff;
    &:before {
      left: 0;
      top: 0;
    }
  }
}

.happy {
  position: relative;
  margin-top: -140px;
  &::after {
    content: "";
    background-image: url("/images/happy.png");
    background-repeat: no-repeat;
    width: 100px;
    display: inline-block;
    height: 145px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/// unused
